/* listblog.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.list-blog-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.list-blog-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem 2rem;
    margin-bottom: 1.5rem;
    width: 100%;
    max-width: 800px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.list-blog-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-content {
    flex-grow: 1;
}

.card-content h3 {
    margin: 0;
    color: #333;
}

.card-content .description {
    margin: 0.5rem 0;
    color: #666;
}

.card-content .date {
    margin: 15px;
    text-align: left;
    color: #999;
}

.delete-button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    background: #f44336;
    width: 80px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.update-button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    background: #008000;
    width: 80px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}


.delete-button:hover {
    background-color: #d32f2f;
}

.update-button:hover{
    background-color: #006400;
    
}

@media (max-width: 768px) {
    .list-blog-card {
        flex-direction: column;
        align-items: flex-start;
    }

    .delete-button {
        margin-top: 1rem;
        width: 30%;
        align-self: center;
    }
}

@media (max-width: 480px) {
    .list-blog-card {
        padding: 1rem;
    }

    .card-content h3 {
        font-size: 1.2rem;
    }

    .card-content .description {
        font-size: 0.9rem;
    }

    .card-content .date {
        font-size: 0.8rem;
    }
}
