/* login.css */

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #f7f7f7, #e0e0e0);
    
}

.login-card {
    width: 100%;
    max-width: 450px;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    box-sizing: border-box;
    text-align: center;
}

.login-heading {
    font-size: 2rem;
    margin-bottom: 20px;
    color: orange;
    font-weight: 600;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 8px;
    font-size: 0.95rem;
    color: #555;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    box-sizing: border-box;
}

.password-container {
    position: relative;
}

.password-container input {
    padding-right: 40px;
}

.password-toggle {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
    color: #888;
    font-size: 1.2rem;
}

.button-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.button {
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-size: 1.5rem;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.back-home {
    background-color: #007bff;
}

.login {
    background-color: #28a745;
    padding-bottom: 35px;
}

.admin-note {
    margin-top: 20px;
    font-size: 0.9rem;
    color: #888;
}

@media (max-width: 600px) {
    .login-heading {
        font-size: 1.5rem;
    }

    .input-group input {
        font-size: 0.9rem;
    }

    .button {
        padding: 10px;
        font-size: 0.9rem;
    }
}
